CONFIG_IDF_TARGET="esp32s3"
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="../partitions.csv"
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
# CONFIG_EDGE_FABRIC_SLEEPY_USE_DEEP_SLEEP is not set
CONFIG_EDGE_FABRIC_SLEEPY_WAKE_INTERVAL_MS=2000
CONFIG_EDGE_FABRIC_SLEEPY_ENABLE_RTC_PERSISTENCE=y
CONFIG_EDGE_FABRIC_SLEEPY_RECENT_COMMAND_TOKEN_CACHE_SIZE=4
